<aside class="span3 sidebar full-height">
	<h2 class="text-center">Conversion Hub</h2>
	<div class="left-side">
		<h5>Default Templates</h5>
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs span12">
				<li class="active"><a href="#1" data-toggle="tab">Section 1</a></li>
				<li><a href="#2" data-toggle="tab">Section 2</a></li>
				<li><a href="#3" data-toggle="tab">Section 3</a></li>
				<li><a href="#4" data-toggle="tab">Section 4</a></li>
				<li><a href="#5" data-toggle="tab">Section 5</a></li>
			</ul>
		</div>
		<div class="text-center">
			<button class="btn btn-primary">Next Background Setting</button>
		</div>
	</div>
</aside>
<div class="span9">
	<nav class="navbar margin-top-bottom">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="#">Template</a></li>
					<li><a href="#">Background</a></li>
					<li><a href="#">Logo</a></li>
					<li><a href="#">Prizes</a></li>
					<li><a href="#">Text</a></li>
				</ul>
			</div>
		</div><!-- /navbar-inner -->
	</nav>
	<section id="content">
		<h3>Design Preview</h3>
		<hr/>
		<div class="tab-content">
			<div class="tab-pane active" id="1">
				<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
					<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
				</svg>
			</div>
			<div class="tab-pane" id="2">
				<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
					<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
				</svg>
			</div>
			<div class="tab-pane" id="3">
				<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
					<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
				</svg>
			</div>
			<div class="tab-pane" id="4">
				<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
					<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
				</svg>
			</div>
			<div class="tab-pane" id="5">
				<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
					<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
				</svg>
			</div>
		</div>
	</section>
</div>