<div class="span6">
	<h2>Banner Image</h2>
	<p>Create banner image for facebook page. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
	<p><a href="#/banner" class="btn btn-primary">Create Banner Image</a></p>
</div>
<div class="span6">
	<h2>Feed Images</h2>
	<p>Create multiple images for facebook feed. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
	<p><a href="#/feed" class="btn btn-primary">Create Feed Images</a></p>
</div>