<div class="span4">
	<h2>Banner</h2>
	<p style="height:120px">Create banner image for facebook page. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a href="#/banner" class="btn btn-block btn-primary"><i class="icon-cog"></i> Create Banner Image</a></p>
</div>
<div class="span4">
	<h2>Feed</h2>
	<p style="height:120px">Create multiple images for facebook feed. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a href="#/feed" class="btn btn-block btn-primary"><i class="icon-cog"></i> Create Feed Images</a></p>
</div>
<div class="span4">
	<h2>Splash</h2>
	<p style="height:120px">Splash Screen for iphone ...dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a href="#/splash" class="btn btn-block btn-primary"><i class="icon-cog"></i> Splash Screen</a></p>
</div>
<div>
	<h2>Icons</h2>
	<p style="height:50px">Pick the icons ...dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p><a href="#popup-modal-icons" role="button" class="btn btn-block btn-primary" data-toggle="modal"><i class="icon-picture"></i> Pick Icons</a></p>
</div>