<form class="form-horizontal">
	<fieldset>
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
			      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#background">
			        	Background
			      	</a>
			    </div>
			    <div id="background" class="accordion-body collapse in">
			      	<div class="accordion-inner">
			        	<div class="control-group">
							<label class="control-label" style="width: 100%; margin-left:0; text-align:left;">Select Color</label>
							<div class="controls" style="margin-left:0;">
								<input id="input-background-color" class="input-small" value="ffffff" style="border: 1px solid rgba(0, 0, 0, 0.3); padding:3px;" />
							</div>
						</div>
			      	</div>
			    </div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
			      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#logo">
			        	Logo
			      	</a>
			    </div>
			    <div id="logo" class="accordion-body collapse">
			      	<div class="accordion-inner">
						<div class="control-group">
							<label class="control-label" style="width: 100px; text-align:left;">Upload Logo</label>
							<div class="controls" style="margin-left: 100px;">
								<input type="file" id="input-logo" class="hide" />
							</div>
						</div>
			      	</div>
			    </div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
			      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#reposition">
			        	Reposition
			      	</a>
			    </div>
			    <div id="reposition" class="accordion-body collapse">
			      	<div class="accordion-inner">
						<div class="control-group">
				      		<div class="span6">
				      			<label style="text-align:center;">Logo</label>
				      			<div id="slider-vertical-header" style="height: 200px; left: 50%;"></div>
								<input type="number" id="input-reposition-header" ng-disabled="!splash.editor.logo.y" ng-model="splash.editor.logo.y" style="margin-left:50px; margin-top:20px; width:30px" />
				      		</div>
				      		<div class="span6 prefix">
				      			<label style="text-align:center;">Copyright</label>
				      			<div id="slider-vertical-footer" style="height: 200px; left: 50%;"></div>
				      			<input type="number" id="input-reposition-footer" ng-model="splash.editor.ch.y" style="margin-left:50px; margin-top:20px; width:30px" />
				      		</div>
			      		</div>
			      	</div>
			    </div>
			</div>
		</div>
	</fieldset>
</form>
<button class="btn btn-primary btn-block" type="button" ng-click="convert($event)">
	<i class="icon-picture"></i> Generate Image
</button>