<div class="span3 prefix">
	<h5>Default Templates</h5>
	<aside class="tabbable tabs-left">
		<ul class="nav nav-tabs span12">
			<li class="active"><a href="#1" data-toggle="tab">Section 1</a></li>
			<li><a href="#2" data-toggle="tab">Section 2</a></li>
			<li><a href="#3" data-toggle="tab">Section 3</a></li>
			<li><a href="#4" data-toggle="tab">Section 4</a></li>
			<li><a href="#5" data-toggle="tab">Section 5</a></li>
		</ul>
	</aside>
</div>
<div class="span9">
	<h3>Design Preview</h3>
	<hr/>
	<div class="tab-content">
		<div class="tab-pane active" id="1">
			<p>Template 1</p>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="810" height="339">
				<defs>
					<style type="text/css"><![CDATA[
						.foreign-object p {
							color:#f5f5f5; 
							font-size:12px; 
							line-height:15px;
						}
						.foreign-object h3 {
							color:#f5f5f5; 
							font-size:20px; 
							line-height: 29px;,
						}
					]]></style>
				</defs>

				<g id="g-editor">
					<image id="background-image" x="0" y="0" width="810" height="338" xlink:href="images/sampleBackground.jpg" />

					<rect x="20" y="110" width="404" height="200" fill="black" fill-opacity="0.75" />
					<text x="40" y="150" font-size="20" font-weight="bold" fill="white">Contest Title</text>
					<foreignObject x="40" y="170" width="364" height="60" class="foreign-object">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis distinctio tenetur repudiandae mollitia sapiente adipisci vero animi maiores officia.</p>
					</foreignObject>
				</g>
			</svg>
		</div>
		<div class="tab-pane" id="2">
			<p>Template 2</p>
			<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
				<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
			</svg>
		</div>
		<div class="tab-pane" id="3">
			<p>Template 3</p>
			<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
				<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
			</svg>
		</div>
		<div class="tab-pane" id="4">
			<p>Template 4</p>
			<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
				<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
			</svg>
		</div>
		<div class="tab-pane" id="5">
			<p>Template 5</p>
			<svg xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
				<image x="20" y="20" width="810" height="339"
xlink:href="images/background.png" />
			</svg>
		</div>
	</div>
</div>