<div id="fb-page" class="span12">
	<div id="upload-template" class="margin-top-bottom well-transparent">
		<button id="button-main-template" class="btn btn-primary">Template</button>
		<button id="button-background-template" class="btn btn-primary" ng-disabled="disableInputBG">Backgrounds</button>
		<input type="file" name="main-template" id="input-main-template" class="hide">
		<input type="file" name="file[]" id="input-background-template" class="hide" multiple>
	</div>
	<div id="page-templates">
		<div id="canvas"></div>
		<ul class="thumbnails"></ul>
	</div>
</div>
